<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutiteq.gismap3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET"/>

     <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.nutiteq.gismap3.LauncherList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nutiteq.gismap3.OGROverlayActivity" />
        <activity android:name="com.nutiteq.gismap3.GDALOverlayActivity" />
        <activity android:name="com.nutiteq.gismap3.BasicEditableOverlayActivity" />
        <activity android:name="com.nutiteq.gismap3.EditableLocalOverlayActivity" />
        <activity android:name="com.nutiteq.gismap3.EditableOGROverlayActivity" />
        <activity android:name="com.nutiteq.gismap3.MapInfoOverlayActivity" />
        <activity android:name="com.nutiteq.filepicker.FilePicker" />
    </application>

</manifest>
